<!DOCTYPE html>
<html>
  <head>
   <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title>As We Enter Records</title>
  </head>
  <body>
    <header>
      <div>
    <nav>
      <ul>
        <li><a href= "/home"> Inventory</a></li>
          <li><a href= "/album"> Albums</a></li>
          <li><a href= "/artist"> Artists</a></li>
        </ul>
      </nav>
    </div>
      </header>
      <div>
        <h1>As We Enter Records</h1>
        <p> Welcome to As We Enter Record shop, Spend time and enjoy our selection of fine dance music. </p>
      </div>
      <div class="banner">

    </div>
    <nav>

    </nav>
    <%= yield %>
  </body>
</html>
