<form method="post" action="/artist/new">
  <label for="name">Artist Name:</label>
  <input
  type="text"
  name="name"
  id="artist-name"
  />
  <input type = "submit" value = "Add Artist!">
</form>
